<div class="social-share mt-4">
  <h5>Share this:</h5>
  <a class="btn btn-sm btn-primary" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> Twitter</a>
  <a class="btn btn-sm btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i> Facebook</a>
  <a class="btn btn-sm btn-success" href="https://wa.me/?text={{ page.title | url_encode }}%20{{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i> WhatsApp</a>
</div>